<header class="site-header">
    <a href="{{ site.title }}"><img class="blog-logo" src="/images/logo_400.png" alt="Blog Logo"></a>
    <h1 class="blog-title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <ul class="nav">
        <li class="nav-home" role="presentation">
	    <a href="{{ site.url }}">Home</a>
	</li>
        <li class="nav-about nav-current" role="presentation">
	    <a href="{{ site.url }}/about">About</a>
	</li>
        <li class="nav-about" role="presentation">
	    <a href="{{ site.url }}/about2">Contribution</a>
	</li>
        <li class="nav-about" role="presentation">
	    <a href="{{ site.url }}/about3">Content</a>
	</li>
    </ul>
</header>
