<header class="site-header">
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <ul class="nav">
        <li class="nav-home nav-current" role="presentation">
	    <a href="{{ site.url }}">Home</a>
	</li>
        <li class="nav-about" role="presentation">
	    <a href="{{ site.url }}/about">About</a>
	</li>
        <li class="nav-about" role="presentation">
	    <a href="{{ site.url }}/about2">Contribution</a>
	</li>
        <li class="nav-about" role="presentation">
	    <a href="{{ site.url }}/about3">Content</a>
	</li>
    </ul>
</header>
