<!DOCTYPE html>
<html>
{% include head.html %} 
<body class="tag-template tag-text blog-has-logo">
    <div class="page-scroll">
        <img class="header-logo blog-logo" src="/images/logo_400.png" alt="Blog Logo">
        <div class="site-main">
        {% include index_header.html %} 
        {% include category_content.html %} 
        {% include footer.html %} 
        </div>
    </div>
<script src="//use.typekit.net/qdi5fpu.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
