<!DOCTYPE html>
<html>
{% include head.html %} 
<body class="home-template fancy-header blog-has-logo">
    <div class="page-scroll">
        <img class="header-logo blog-logo" src="/images/hardenedlinux-black-logo.png" alt="Blog Logo">
        <div class="site-main">
        {% include index_header.html %} 
        {% include index_content.html %} 
        {% include footer.html %} 
        </div>
    </div>
<script src="//use.typekit.net/qdi5fpu.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
